*{
	box-sizing: border-box;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	width: 98vw;
}
.form{
	height: auto;
	width: 400px;
	padding: 0px 0px 15px 0px;
	border: 2px solid rgb(0, 255, 170);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	/* background-color: rgb(1, 0, 22); */
}

.buttons{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
	height: 50px;
	float: left;
}
.buttons .btn{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	width: 50%;
	cursor: pointer;
}


#chbox:checked ~ .SignUp_form{
	display: flex;
}

#chbox:checked ~ .login_form{
	display: none;
}

#chbox:checked + .layer{
	left: 50%;
}
#chbox:checked ~ .layer2{
	left: 50%;
}
#chbox{
	display: none;
}


.layer{
	content: '';
	height: 50px;
	width: 50%;
	background-color: transparent;
	float: right;
	position: absolute;
	left: 0px;
	top: 0px;
}
.layer2{
	content: '';
	height: 50px;
	z-index: -1;
	width: 50%;
	background-color: rgb(0, 255, 170);
	float: right;
	position: absolute;
	left: 0px;
	top: 0px;
}
/* LOGIN FORM */

	.form .login_form{
		display: flex;
		flex-direction: column;
	}

	.form .login_form input{
		border: none;
		border-bottom: 1px solid black;
		outline: none;
		padding: 5px;
	}

	hr{
		height: 5px;
		background-color: black;
		width: 320px;
		margin: 15px -20px 5px -20px;
	}

	.tag{
		text-align: center;
		font-size: 20px;
		margin: 7px 0px 7px 0px;

		/* margin: auto; */
	}
	.icons{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.fa {
		padding: 20px;
		border-radius: 100%;
		font-size: 20px;
		text-align: center;
		text-decoration: none;
		margin: 2px 2px;
	}
	
	.fa-facebook {
		background: #3B5998;
		color: white;
	}
	
	.fa-twitter {
		background: #55ACEE;
		color: white;
		font-size: 10px;

	}
	
	.fa-google {
		background: #dd4b39;
		color: white;
	}
	
	.fa-linkedin {
		background: #007bb5;
		color: white;
	}

	.submit{
		width: 70px;
		border: none;
		padding: 7px;
		border-radius: 5px;
		background-color: cadetblue;
		outline: none;
		cursor: pointer;
	}
	/* Login info end */


	/* Sign Up form */

.form .SignUp_form{
	display: none;
	flex-direction: column;
}

.form .SignUp_form input{
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	padding: 5px;
	margin: 0px;
}

